USE [master]
GO
/****** Object:  Database [QLBanDienThoai]    Script Date: 23/10/2025 15:16:18 ******/
CREATE DATABASE [QLBanDienThoai]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBanDienThoai', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KIEUHUONG\MSSQL\DATA\QLBanDienThoai.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBanDienThoai_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KIEUHUONG\MSSQL\DATA\QLBanDienThoai_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBanDienThoai].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBanDienThoai]
GO
/****** Object:  Table [dbo].[CTHoaDon]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHoaDon](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
	[ThanhTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuNhap]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuNhap](
	[MaPN] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
	[ThanhTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTSanPham]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTSanPham](
	[MaCTSP] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NULL,
	[IMEI] [varchar](20) NULL,
	[MauSac] [nvarchar](50) NULL,
	[DungLuong] [nvarchar](50) NULL,
	[RAM] [nvarchar](50) NULL,
	[Pin] [nvarchar](50) NULL,
	[HeDieuHanh] [nvarchar](100) NULL,
	[BaoHanh] [nvarchar](50) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK__CTSanPha__1E4FCECD33F4AA2B] PRIMARY KEY CLUSTERED 
(
	[MaCTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__CTSanPha__8DF371FD9ECB5F6D] UNIQUE NONCLUSTERED 
(
	[IMEI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiamGia]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiamGia](
	[MaGG] [int] IDENTITY(1,1) NOT NULL,
	[TenGG] [nvarchar](255) NULL,
	[PhanTramGiam] [int] NULL,
	[DieuKien] [int] NULL,
	[NgayBD] [date] NULL,
	[NgayKT] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NULL,
	[MaKH] [int] NULL,
	[NgayLap] [date] NULL,
	[TongTien] [int] NULL,
	[MaGG] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[Ho] [nvarchar](255) NULL,
	[Ten] [nvarchar](255) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[SoDienThoai] [nvarchar](10) NULL,
	[TongChiTieu] [int] NULL,
	[TinhTrang] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loai]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loai](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](11) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[Ho] [nvarchar](255) NULL,
	[Ten] [nvarchar](255) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[SoDienThoai] [nvarchar](11) NULL,
	[ChucVu] [nvarchar](255) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[Quyen] [nvarchar](255) NOT NULL,
	[QLNhapHang] [bit] NULL,
	[QLSanPham] [bit] NULL,
	[QLNhanVien] [bit] NULL,
	[QLKhachHang] [bit] NULL,
	[QLThongKe] [bit] NULL,
	[QLKhuyenMai] [bit] NULL,
	[QLBanHang] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Quyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NULL,
	[MaNCC] [int] NULL,
	[NgayLap] [date] NULL,
	[TongTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](255) NULL,
	[MaLoai] [int] NULL,
	[MaNCC] [int] NULL,
	[SoLuong] [int] NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[DonGia] [int] NULL,
	[MoTa] [nvarchar](max) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaNV] [int] NOT NULL,
	[TaiKhoan] [nvarchar](255) NULL,
	[MatKhau] [nvarchar](255) NULL,
	[Quyen] [nvarchar](255) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [TongChiTieu]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[CTHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[CTHoaDon]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CTSanPham]  WITH CHECK ADD  CONSTRAINT [FK__CTSanPham__MaSP__619B8048] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CTSanPham] CHECK CONSTRAINT [FK__CTSanPham__MaSP__619B8048]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaGG])
REFERENCES [dbo].[GiamGia] ([MaGG])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[loai] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([Quyen])
REFERENCES [dbo].[PhanQuyen] ([Quyen])
GO
/****** Object:  StoredProcedure [dbo].[sp_DoanhThuTheoThang]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DoanhThuTheoThang]
    @Nam INT,
    @Thang INT
AS
BEGIN
    SELECT SUM(TongTien) AS DoanhThu
    FROM HoaDon
    WHERE YEAR(NgayLap) = @Nam AND MONTH(NgayLap) = @Thang;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KhachHangVIP]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KhachHangVIP]
    @SoTien INT
AS
BEGIN
    SELECT MaKH, Ho + ' ' + Ten AS HoTen, SoDienThoai, TongChiTieu
    FROM KhachHang
    WHERE TongChiTieu >= @SoTien
    ORDER BY TongChiTieu DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemCTHoaDon]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemCTHoaDon]
    @MaHD INT,
    @MaSP INT,
    @SoLuong INT
AS
BEGIN
    DECLARE @DonGia INT;
    SELECT @DonGia = DonGia FROM SanPham WHERE MaSP = @MaSP;

    DECLARE @ThanhTien INT = @DonGia * @SoLuong;

    INSERT INTO CTHoaDon(MaHD, MaSP, SoLuong, DonGia, ThanhTien)
    VALUES (@MaHD, @MaSP, @SoLuong, @DonGia, @ThanhTien);

    -- Cập nhật tồn kho
    UPDATE SanPham
    SET SoLuong = SoLuong - @SoLuong
    WHERE MaSP = @MaSP;

    -- Cập nhật tổng tiền hóa đơn
    UPDATE HoaDon
    SET TongTien = (SELECT SUM(ThanhTien) FROM CTHoaDon WHERE MaHD = @MaHD)
    WHERE MaHD = @MaHD;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemCTPhieuNhap]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemCTPhieuNhap]
    @MaPN INT,
    @MaSP INT,
    @SoLuong INT,
    @DonGia INT
AS
BEGIN
    DECLARE @ThanhTien INT = @SoLuong * @DonGia;

    INSERT INTO CTPhieuNhap(MaPN, MaSP, SoLuong, DonGia, ThanhTien)
    VALUES (@MaPN, @MaSP, @SoLuong, @DonGia, @ThanhTien);

    -- Cập nhật tồn kho sản phẩm
    UPDATE SanPham
    SET SoLuong = ISNULL(SoLuong,0) + @SoLuong
    WHERE MaSP = @MaSP;

    -- Cập nhật tổng tiền phiếu nhập
    UPDATE PhieuNhap
    SET TongTien = (SELECT SUM(ThanhTien) FROM CTPhieuNhap WHERE MaPN = @MaPN)
    WHERE MaPN = @MaPN;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ThemHoaDon]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemHoaDon]
    @MaNV INT,
    @MaKH INT,
    @MaGG INT = NULL,
    @GhiChu NVARCHAR(MAX) = NULL
AS
BEGIN
    INSERT INTO HoaDon(MaNV, MaKH, NgayLap, TongTien, MaGG, GhiChu)
    VALUES (@MaNV, @MaKH, GETDATE(), 0, @MaGG, @GhiChu);

    SELECT SCOPE_IDENTITY() AS MaHD; -- Trả về mã hóa đơn mới
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemKhachHang]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemKhachHang]
    @Ho NVARCHAR(255),
    @Ten NVARCHAR(255),
    @GioiTinh NVARCHAR(3),
    @SoDienThoai NVARCHAR(10)
AS
BEGIN
    INSERT INTO KhachHang(Ho, Ten, GioiTinh, SoDienThoai, TongChiTieu, TinhTrang)
    VALUES (@Ho, @Ten, @GioiTinh, @SoDienThoai, 0, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemPhieuNhap]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemPhieuNhap]
    @MaNV INT,
    @MaNCC INT
AS
BEGIN
    INSERT INTO PhieuNhap(MaNV, MaNCC, NgayLap, TongTien)
    VALUES (@MaNV, @MaNCC, GETDATE(), 0);

    SELECT SCOPE_IDENTITY() AS MaPN; -- Trả về mã phiếu nhập mới
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TimSanPham]    Script Date: 23/10/2025 15:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TimSanPham]
    @TenSP NVARCHAR(255)
AS
BEGIN
    SELECT SP.MaSP, SP.TenSP, L.TenLoai, NCC.TenNCC, SP.DonGia, SP.SoLuong
    FROM SanPham SP
    LEFT JOIN loai L ON SP.MaLoai = L.MaLoai
    LEFT JOIN NhaCungCap NCC ON SP.MaNCC = NCC.MaNCC
    WHERE SP.TenSP LIKE N'%' + @TenSP + N'%';
END
GO
USE [master]
GO
